[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
pulp = "*"
numpy = "*"

# Flask group of dependencies
Flask = "*"
flask_ckeditor = "*"
flask_wtf = "*"
flask_sqlalchemy = "*"
wtforms = "*"

# Database
psycopg2 = "*"

[requires]
python_version = "3.8.5"
