{% extends 'base.html' %}
{% from 'macros.html' import form_field %}

{% block title %}Grade - {{ grade.id }}{% endblock %}

{% block content %}

<h3 class="title">Grade {{ grade.id }}</h3>

<div class="shadow p-1">

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1 fw-bold spotlight">HORÁRIO</th>
                {% for dia in dias %}
                    <th class="text-center fw-bold spotlight">{{dia.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for periodo in periodos %}
            <tr>
                <td class="text-center">{{ periodo.desc() }}</td>

                {% for dia in dias %}
                <td>
                    {% for entrada in entradas[dia][periodo.id] %}
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-header fw-bold etapa-{{entrada.etapa}}">{{ entrada.disciplina.nome }}</div>
                        </div>
                    {% endfor %}
                </td>
                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}