<tr>
    <td class="text-center">{{ disciplina_item.id }}</td>
    <td class="text-center">{{ disciplina_item.codigo }}</td>
    <td>{{ disciplina_item.nome }}</td>
    <td>

        <span class="d-flex items-center">
            <a class="btn btn-custom btn-info" href="{{ url_for('.edit', id=disciplina_item.id) }}">Editar</a>
            
            <form method="POST" action="{{ url_for('.delete', id=disciplina_item.id) }}">
                {{ disciplina.csrf_token }}
                <button type="submit" class="btn btn-custom btn-danger">Remover</button>
            </form>
        </span>

    </td>
</tr>