html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend', sans-serif;
}

.logo,
.navbar-brand,
.title {
    font-family: 'Metamorphous', cursive;
    color: #E76F51 !important;
}

.spotlight{
    color: #E76F51 !important;
}

#navLogo {
    font-size: 25px;
}

.stradisGuideContainer {
    flex-direction: column;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: red;
    border-width: 1px;
}

.stradisGuide {
    font-size: 20px;
    text-align: justify;
}


body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    padding: 15px;
    flex-shrink: 0;
    color: #fff;
}


.btn-stradis {
    background-color: #2A9D8F;
    color: #fff;
    border-color: #2A9D8F;
}

.page-item .page-link{
    color: #2A9D8F;
}

.page-item.active .page-link{
    background-color: #2A9D8F;
    border-color: #2A9D8F;
    color: #fff;
}


.page-item.disabled .page-link{
    cursor:not-allowed !important;
}

.disabled:hover {
    cursor: not-allowed !important;
}

.btn-stradis:hover,
.btn-stradis:active,
.btn-stradis:focus {
    background-color: #30b5a6;
    color: #fff;
    border-color: #30b5a6;
}

.iconButton {
    color: #2A9D8F;
    font-size: 20px;
}

.iconButton:hover {
    color: #30b5a6;
}

.btn-link {
    color: #fff;
}

.btn-link:hover {
    color: #30b5a6;
}

.btn-custom{
    color: #fff !important;
    font-size: 11px !important;
    margin: 2px;
}

.etapa-1{
    background-color: #993333;
    border-color: #993333;
    color: #fff;
}

.etapa-2{
    background-color: #993399;
    border-color: #993399;
    color: #fff;
}

.etapa-3{
    background-color: #663399;
    border-color: #663399;
    color: #fff;
}


.etapa-4{
    background-color: #333399;
    border-color: #333399;
    color: #fff;
}

.etapa-5{
    background-color: #336699;
    border-color: #336699;
    color: #fff;
}

.etapa-5{
    background-color: #339980;
    border-color: #339980;
    color: #fff;
}

.etapa-6{
    background-color: #339933;
    border-color: #339933;
    color: #fff;
}

.etapa-7{
    background-color: #999933;
    border-color: #999933;
    color: #fff;
}

.etapa-8{
    background-color: #996633;
    border-color: #996633;
    color: #fff;
}

.etapa-9{
    background-color: #808080;
    border-color: #808080;
    color: #fff;
}


