{% extends 'base.html' %}

{% block content %}

<div class="car text-center">
    <div class="card-body">
        <h1>Scheduler Init</h1>
    </div>

    
</div>

{% if error_message %}
<p class="alert alert-danger">
    <strong>{{error_message}}</strong>
</p>
{% endif %}

<form action="{% url 'scheduler:schedule' %}" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}

    <input type="file" name="file" value="Professores"/>
    <input type="file" value="Disciplinas"/>
    <input type="file" value="Salas"/>
    <input type="file" value="Horarios"/>

    <div class="mb-3"></div>

    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save" />

</form>

{% endblock %}