<tr>
    <td class="text-center">{{ periodo_item.id }}</td>
    <td>{{ periodo_item.name }}</td>
    <td >{{ periodo_item.inicio|format_hour }} - {{ periodo_item.fim|format_hour }}</td>
    <td>

        <span class="d-flex items-center">
            <a class="btn btn-custom btn-info" href="{{ url_for('.edit', id=periodo_item.id) }}">Editar</a>
            
            <form method="POST" action="{{ url_for('.delete', id=periodo_item.id) }}">
                {{ periodo.csrf_token }}
                <button type="submit" class="btn btn-custom btn-danger">Remover</button>
            </form>
        </span>

    </td>
</tr>