{% extends 'base.html' %}
{% from 'macros.html' import form_field %}
{% from 'macros.html' import index_field %}
{% from 'macros.html' import submit_search_field %}
{% from 'macros.html' import create_field %}
{% from 'macros.html' import submit_field %}

{% block title %}Horários{% endblock %}

{% block content %}

<h1 class="logo">Horários</h1>
<p class="stradisGuide">Adicionar alguma informação relevante, ou instruções, ou qualquer outra coisa
	relevante sobre o cadastro e as pesquisas de horários
</p>

<div class="mt-3 d-flex justify-content-around col-md-12">
	<div class="p-3 flex-column card col-md-5">
		<h3 class="text-center">Pesquisar</h3>
		<hr class="dropdown-divider">

		<form method="GET" action="{{ url_for('.index') }}" class="mt-3">

			<div class="d-flex justify-content-between align-items-center row mb-4">
				{{ index_field(periodo_form.nome, wdh=4, autofocus='autofocus') }}
				{{ index_field(periodo_form.inicio, wdh=3) }}
				{{ index_field(periodo_form.fim, wdh=3) }}

				{{ submit_search_field() }}
			</div>
		</form>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">#</th>
					<th>Nome</th>
					<th>Intervalo</th>
					<th class="col-md-1 text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% if periodos.items %}

				{% for periodo_item in periodos.items %}
					{% include 'periodos/_item.html' %}
				{% endfor %}

				{% else %}

				<tr>
					<td colspan="3" class="text-center">Nenhum horário registrado</td>
				</tr>
				{% endif %}
			</tbody>
		</table>

		<nav class="d-flex justify-content-end">
			<ul class="pagination">
				{% if periodos.has_prev %}
				<li class="page-item"> <a class="page-link"
						href="{{ url_for('.index', page=periodos.prev_num) }}">Anterior</a></li>
				{% else %}
				<li class="page-item"><a class="page-link btn disabled" href="#">Anterior</a></li>
				{% endif %}

				{% for page in periodos.iter_pages(left_edge=3, right_edge=3) %}
				{% if page %}

				{% if page==periodos.page %}
				<li class="page-item active"><a class="page-link" href="{{ url_for('.index', page=page) }}">{{ page }}</a></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="{{ url_for('.index', page=page) }}">{{ page }}</a></li>
				{% endif %}

				{% else %}

				<li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>

				{% endif %}
				{% endfor %}

				{% if periodos.has_next %}
				<li class="page-item"> <a class="page-link"
						href="{{ url_for('.index', page=periodos.next_num) }}">Próximo</a></li>
				{% else %}
				<li class="page-item"><a class="page-link btn disabled" href="#">Próximo</a></li>
				{% endif %}
			</ul>
		</nav>

	</div>

	<div class="p-3 flex-column card col-md-5">
		<h3 class="text-center">Cadastrar</h3>
		<hr class="dropdown-divider">

		<form method="POST" action="{{ url_for('.new') }}">

			{% include '_mensagens.html' %}
			{{ periodo.csrf_token }}

			{{ periodo.id }}

			{{ create_field(periodo.nome) }}
			{{ create_field(periodo.inicio) }}
			{{ create_field(periodo.fim) }}

			<div class="text-center">
				{{ submit_field(periodo.submit) }}
			</div>

		</form>
	</div>

</div>

{% endblock %}