<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Error {{ code }} - Cobranca</title>
</head>

<body>
<main>
    <header class="center">
        <h4 class="red-text">Cobranca</h4>
    </header>
    <div class="row card-panel hoverable">
        <span class="col s10">
            <span class="active-item">{{ code }} - {{ info }}</span>
        </span>
        <span class="col s2">
            <a class="button right" href="{{ url_for('titulo.index') }}">Inicio</a>
        </span>
    </div>
</main>
</body>
</html>