{% macro form_field(field) %}
    <div class="mb-3">
        {{ field.label(class_="form-label") }}
        {% if field.flags.required %}
            {{ field(class_='form-control', required='required', **kwargs) }}
        {% else %}
            {{ field(class_='form-control', **kwargs) }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endif %}
    </div> 
{% endmacro %}

{% macro index_field(field, wdh=10) -%}
    <div class="col-md-{{ wdh }}">
        {{ field(class_='form-control', placeholder=field.label.text, **kwargs) }}
    </div>    
{%- endmacro %}


{% macro create_field(field, wdh=4, classappend='') -%}
    <div class="mb-3 {{ 'has-error' if field.errors else '' }}">
        {{ field.label(class_="form-label") }}
        {{ field(class_='form-control ' + classappend, **kwargs) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endif %}
    </div>    
{%- endmacro %}

{% macro submit_field(field) -%}

    <div>
        {{ field(class_='btn btn-stradis col-md-4 align-self-center', **kwargs) }}
    </div>  

{%- endmacro %}

{% macro submit_search_field() %}

    <div class="col-md-2">
        <button type="submit" class="btn btn-stradis">Filtrar</button>
    </div>

{%- endmacro %}