{% macro index_field(field, wdh=4) -%}
    <div class="form-group col-md-{{ wdh }}">
        {{ field(class_='form-control', **kwargs) }}
    </div>    
{%- endmacro %}


{% macro create_field(field, wdh=4, classappend='') -%}
    <div class="form-group {{ 'has-error' if field.errors else '' }}">
        {{ field.label(class_="col-sm-2 control-label") }}
        <div class="col-sm-{{ wdh }}">
            {{ field(class_='form-control ' + classappend, **kwargs) }}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endif %}
    </div>    
{%- endmacro %}


{% macro submit_field(field) -%}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ field(class_='btn btn-primary', **kwargs) }}
        </div>
    </div>    
{%- endmacro %}